/* CSS HEX
--steel-blue: #4f7cacff;
--eerie-black: #191716ff;
--white: #fafafdff;
--light-gray: #cfcfcfff;
--gunmetal: #282c34ff;*/
html{
    background-color: #fafafd;
}

.App {
  text-align: left;
  background-color: #fafafd;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a, a:hover, a:active, a:focus {
    text-decoration: none;
    color:inherit;
}
.navbar{
    height: 40px;
    width: auto;
    background-color: #282c34;
}
.navbar-item {
    background-color: #282c34;
    color: white;
    float: left;
    height: 40px;
    padding-right: 16px;
    padding-left: 16px;
}
.navbar-item:hover {
    background-color: grey;
    color: black;

}
.navbar-item:focus {
    background-color: grey;
    color: whitesmoke;
}
.navbar-item-right {
    background-color: #282c34;
    color: white;
    float: right;
    height: 40px;
    padding-right: 16px;
    padding-left: 16px;
}
.navbar-item-right:hover {
    background-color: grey;
    color: black;

}
.navbar-item-right:focus {
    background-color: grey;
    color: whitesmoke;
}
main{
    padding-left: 24px;
}
.subject-preview{
    color: black;
    width: 50%;
    background-color: #cfcfcf;
    padding:8px;
    margin-bottom:16px;
}
p{
    margin-left: 16px;
}
.login-form{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 250px;
}
.form-group{
    padding-bottom: 8px;
}
.homepage-topThree{
    position: absolute;
    top: 25%;
    left: 10%;
    background-color:  #49515F;
}
.subject-topThree-home{
    color: black;
    width: 50%;
    background-color: #cfcfcf;
    padding:8px;
    margin-bottom:16px;
    margin-left: 8px;
}
#topthree{
    color: white;
}
.user-preview{
    margin: 8px;
    padding: 2px;
    background-color: #cfcfcf;
}